.app {
  padding: 24px;
  h1 {
    text-align: center;
    font-size: 40px;
  }
  .word {
    &__list {
      margin-top: 24px;
      display: flex;
      flex-wrap: wrap;
      font-size: 24px;
    }
    &__item {
      &:first-child {
        text-transform: capitalize;
      }
      &--last-char {
        color: green;
      }
    }
  }
  input {
    font-family: inherit;
    font-size: inherit;
    outline: none;
    border: none;
  }
  .message {
    margin: 16px 0;
    display: block;
    text-align: center;
    &::first-letter {
      text-transform: uppercase;
    }
  }
  .reset-button {
    display: block;
    margin: 16px auto;
    background: transparent;
    padding: 8px 16px;
    border: 1px solid black;
    border-radius: 4px;
    font-family: inherit;
    font-size: 16px;
    cursor: pointer;
    &:hover {
      background: black;
      color: white;
    }
  }
}
